body{
  direction: rtl;
  background-color:#fff;
}

.qu{
  width: 100%;
  background: rgb(5, 44, 116);
  border-radius: 5px;
  pointer-events: none;
  transition: all 0.3s ease;
  text-align:start;
  padding: 2px;
  display: block;
  padding: 5px;
  color: #f5f5f5;
  font-size:35px;

}

.answer{
  width: 100%;
  margin-top:10px;
  margin-left:60px;

}

.an{
  color: #0f0f0f;
  pointer-events: none;
  text-align:start;
  font-size:33px;
  display: none;

}


.myButton{
  margin-top: 10px;
  font-size: 30px;
    font-weight: 500;
    background-color: #2c2e30;
    padding: 10px 50px;
    outline: none;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;

}





table {
  font-size: 28px;
  border-collapse: collapse;
  width: 100%;
  background-color: #f2f2f2;
}
th, td {
  text-align: right;
padding: 8px;
}
th {
  background-color: #333;
  color: white;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}



